services:
  db:
    image : postgres:18.1
    container_name: sb-ecomm-db
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  backend :
    image: sarthakb413/sb-ecommerce-project-backend:1.0
    container_name: sb-ecomm-backend
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - .env
volumes:
  pgdata: